* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.animation-infinite {
    animation-duration: 50s !important;
    animation-timing-function: linear;
    animation-delay: none;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: scroll-grid;
}

@keyframes scroll-grid {
    0% {
        -webkit-transform: translate3d(-1700px, 0, 0);
        transform: translate3d(-1700px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(1700px, 0, 0);
        transform: translate3d(1700px, 0, 0);
    }
}

.css-ieud83-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px !important; 
}

.link {
    color: white;
    text-decoration: underline;

}

*:focus-visible {
    outline: none;
}

.photo {
    object-fit: contain;
    height: 500px;
    width: 700px;
}

.link:hover {
    color: rgb(145, 145, 145);
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-down {
    animation: fade-down 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
